/* Happy Howler -------------------------------------------------- */
/* Global Stuff -------------------------------------------------- */

html,
body,
#map-canvas {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: url("../images/Cigars_and_Whiskey_Wallpaper.jpg");
    background-size: cover;
    padding-top: 60px;

}

h1 span {
    display: none;
}

.navbar {
    /* background-color: #7dcdcd;*/
    z-index: 5;
}

/*.buttons-wrap { position: absolute; top: 0; right: 0; }*/

/* Panel Stuff -------------------------------------------------- */

.panelwrap {
    background-color: #f1f1f1;
}

.panel { padding-top: 65px; }

ul.store-list {
    padding-left: 0;
}

.storelocator-panel .store-list li,
.storelocator-panel .directions-panel {
    padding: 5px;
    border-bottom: 2px solid #ccc;
    list-style: none;
    height: 170px;
    margin: 10px 0px;
    background-color: white;
    transition: transform .2s;
}

.store ul {
    padding-left: 0;
}

.storelocator-panel .store-list li.store:hover {
    cursor: pointer;
    /*background: rgba(255, 0, 0, 0.5);*/
    border-bottom: 4px solid rgba(255, 0, 0, 1);
    transform: scale(1.05);
}

.storelocator-panel .store-list li.highlighted {
    border-bottom: 2px solid rgba(255, 0, 0, 1);
}

.store .title {
    font-weight: 700;
    text-transform: uppercase;
}

.store .address {
    font-size: 0.7em;
}

.store .picture {
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: hidden;
    /* width: 100px; */
    width: auto;
    float: left;
    margin-right: 15px;
}

/*.picture img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}*/

/* Or try this but might not work on Edge */

.picture img {
    object-fit: cover;
    width: 100px;
    height: 160px;
}

#map-canvas .store .picture,
#map-canvas .store .zoomhere,
#map-canvas .store .prices {
    display: none;
}

a {
    display: block;
}

.location-search h4 {
    display: none;
}

.location-search input {
    width: 100%;
}

/* Info Panel  -------------------------------------------------- */

.title {
    font-size: .85em;
}

.prices {
    float: right;
    color: red;
    font-size: 0.75em;
}

.address {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.hours {
    color: red;
    font-size: 0.75em;
}

.times {
    font-size: 0.75em;
}

.featuresList {
    display: flex;
    border-top: 1px solid #f1f1f1;
}

.flaticon-beer:before,
.flaticon-cutlery:before,
.flaticon-wine-glass:before,
.flaticon-dog:before,
.flaticon-hookah:before,
.flaticon-food:before {
    font-size: 1em;
    line-height: 1.75;

}

.filter-icons {
    text-align: center;}

    .filter-icons label {
        text-align: center;}

        .filter-title { font-size: .75em;text-transform: uppercase;}

li.no-stores {
    display: none;
}

li.no-stores:after {
    content: "No establishments in this area match your criteria."
}

/* Filter List -------------------------------------------------- */

.search-filters input {
display: none;}

.search-filters i:before {
    font-size: 1.75em;
    text-align: center;
    width: 50px;
    height: 50px;
    /*border-radius: 50%;
    background-color: white;*/
    display: block;
    padding: 0;
margin: 0 auto;
}

.filter-icons.favs i img {

    text-align: center;
    width: 50px;
    height: 50px;
    padding: 12px;
    border-radius: 14%;

    margin: 0 auto;
}

.search-filters i:before:hover {
    background-color: red;
}

#beer-check {
    transition: transform .2s;
}


.filterOn + label i,
.filterOn + label .filter-title {color: red;}

.filterOn i {color: red;}


/* Authentication -------------------------------------------------- */

#quickstart-avatar img {
    border-radius: 50%;
    width: 30px;
    margin-right: 18px;
}

#quickstart-sign-in-status {
    color: rgba(255, 255, 255);
    text-transform: uppercase;
    font-size: 0.75em;
    margin-right: 18px;
    font-weight: 500;
}

#quickstart-sign-in,
#quickstart-sign-out {
    display: block;
    padding: 8px 8px 8px 36px;
    font-size: 0.75em;
    color: rgba(0, 0, 0, 0.7);
    background: url("../images/download.svg") no-repeat 10px center;
    background-color: rgba(255, 255, 255, 1);
    background-size: 18px;
}

#quickstart-account-details {
    display: none;
}

.search-filters label:nth-Child(14) i {
    display: none;
}

.search-filters label:nth-Child(14) i.loggedin {
    display: block;
}

/* Nav -------------------------------------------------- */

.navbar {
    border-radius: 0;
    transition: all 0.3s ease-out;
    height: 60px;
    padding: 0;
    background-color: rgba(255, 255, 255, 0)
}

.navbar.scrolled {
    background-color: #fff !important;
    transition: background-color 200ms linear;
}

/* Parallax -------------------------------------------------- */


/*.affix {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;

}*/

/*#content-wrapper {
    height: 100%;
    background: url("../images/Cigars_and_Whiskey_Wallpaper.jpg");
    background-size: cover;
}
*/


.parallax__group {
    position: relative;
    height: 100vh;
    transform-style: preserve-3d;
}

.parallax {
    perspective-origin-x: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.parallax__layer {
    transform-origin-x: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.parallax__layer--base {
    transform: translateZ(0);
}

.parallax__layer--back {
    transform: translateZ(-1px);
}

.panelwrap {
    height: 100%;
    position: fixed;
    overflow: auto;
    /*padding-top: 100px;
    top: 60px;*/
}

/*.map-wrapper {
    position: fixed;
    height: 800px;
    bottom: 0;
    overflow: auto;

    width: 64.5%;
    margin-right: 15px;
}
*/

.map-col {

    height: 100%;
    position: fixed;
    overflow: auto;
}

.map-wrapper{

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
#map_canvas iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.search-filters { padding-top: 80px;}
/*#description {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
*/

#description {
    text-align: left;
    
}

#description h2 { text-transform: uppercase; font-size: 2.5em; color: #fff; }
#description .button {}
.billboard { margin-top: 100px; }

#description p { color: #fff; font-family: 'Roboto', sans-serif; line-height: 1.8em;}

.pupper { width: 80%; }


@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800');
/* */

/****/


/*
 * Row with equal height columns
 * --------------------------------------------------
 */
 .row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
  }


  @media (max-width: 998px) {
    .search-filters { padding-top: 20px;}

  }
  @media (max-width: 768px) {

    .panelwrap {
  height: 100%;
  position: relative;
  overflow: auto;
  /*padding-top: 100px;
  top: 60px;*/
}

.map-col {

  height: 30%;
  position: fixed;
  overflow: auto;
}

.map-wrapper{

  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
#map_canvas iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.search-filters { padding-top: 240px;}


.search-filters i:before {
    font-size: 1.75em;
    text-align: center;
    width: 50px;
    height: 50px;
    /*border-radius: 50%;
    background-color: white;*/
    display: block;
    padding: 0;
margin: 0 auto;
}

.filter-icons.favs i img {

    text-align: center;
    width: 50px;
    height: 50px;
    padding: 12px;
    border-radius: 14%;

    margin: 0 auto;
}

}