.navbar{
    background-color: black;

}

.container{
    text-align: center;
}
h1{
    size: 125px;
}

.button{
    border: none;
    padding: 10px;
    font-size: 32px;
    margin: 4px;
    border-radius: 50%;
}
.btn1{
    background-color: red;
}
.btn2{
    background-color: orange;
}
.btn3{
    background-color: yellow;
}
.btn4{
    background-color: green;
}
.btn5{
    background-color: blue;
}
.btn6{
    background-color: purple;
}
#map{
    border: palevioletred;
    border-style: double;
    padding: 10px;
}
#hhInfo{
    border: dodgerblue;
    border-style: dotted;
    padding: 10px;
}

#weather {
    border-radius: 5px;
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
    font-size: .75rem;
}
